/* .file-input {
    display: none;
} */

.upload-container {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(128,70,255,1) 0%, rgba(246,241,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.upload-container .main {
    width: 80%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    justify-content: center;
}

input::file-selector-button, .specs-btn{
    appearance: none;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 500;
    border: 0;
    background: #8046FF;
    color: white;
    padding: 8px 24px;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: all 0.5s ease;
    margin-bottom: 20px;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 50px;
}

.response-data h2 {
    margin-bottom: 20px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-right: 8px;
}

.form-group select{
    font-size: 16px;
    height: 40px;
    padding: 9px 8px 8px;
    border: 1px solid rgba(35, 35, 35, 0.4);
    color: #484848;
    border-radius: 6px;
    margin-bottom: 0;
}
.download-btn{
    margin-top: 20px;
}
.error-text {
    color: red;
    font-weight: 500;
}
p span{
    color: green;
    font-weight: 600;
}
.specs-btn {
    display: table;
    margin-bottom: 0;
}
.specs-btn input[type='file'] {
    display: none;
}
.specs-btn-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.specs-btn-group span {
    padding-left: 3px;
    font-family: initial;
    font-size: initial;
    color: initial;
}

@media screen and (min-width: 1200px) {
    .upload-container .main {
        width: 65%;
    }
}