<div class="upload-container">
    <div class="main">
        <h1>Welcome to FileFixer</h1>
        <h2>Upload Flat file to convert it into JSON</h2>
        <input type="file" (change)="onFileSelected($event)" class="input-file"/>
        <div class="form-group" *ngIf="fileName">
            <label>Choose File Specification</label>
            <select [(ngModel)]="fileLayout" class="form-group">
                <option *ngFor="let option of options" [value]="option">{{ option }}</option>
            </select>
        </div>
        <div>
            <button (click)="selectUploadFile()">Convert File</button>
        </div>
        <div class="response-data">
            <div class="download-btn" *ngIf="responseData != ''">
                <button (click)="saveData()">Download File</button>
            </div>
            <h2 *ngIf="responseData != ''">Response Data: </h2>            
            <pre>{{responseData}}</pre>
        </div>
        
    </div>
</div>
